In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import re

In [2]:
url = 'https://www.bikes4sale.in/used/buy/?'
web = requests.get(url)
web

In [3]:
web.status_code

200

In [4]:
html_code = web.text

In [5]:
html_code[:2000]

'<!DOCTYPE html>\n<html lang="en" itemscope itemtype="https://schema.org/WebPage">\n<head>\n<meta charset="utf-8">\n<link rel="shortcut icon" href="/favicon-192x192.png">\n<meta name="viewport" content="width=device-width, initial-scale=1">\n<link rel="manifest" href="/manifest.json">\n<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">\n<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">\n<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">\n<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">\n<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">\n<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">\n<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">\n<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">\n<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">\n<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">\n<link rel="apple-touch-icon" sizes="192x192" href="/favicon-192x192.png">\n<meta name="apple-mobile-web-app-capable" content="yes">\n<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">\n<meta name="apple-mobile-web-app-title" content="Bikes4Sale">\n<meta name="application-name" content="Bikes4Sale">\n<meta name="mobile-web-app-capable" content="yes">\n<meta name="msapplication-TileColor" content="#0B3A72">\n<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">\n<meta name="theme-color" content="#0B3A72">\n<title>Used bikes and scooters in India. Buy from Owners and Dealers - Bikes4Sale</title>\n<meta property="og:title" itemprop="name" content="Used bikes and scooters in India. Buy from Owners and Dealers" />\n<meta property="og:site_name" content="Bikes4Sale" />\n<meta name="description" property="og:description" itemprop="description" content="Second hand bikes and scooters for sale in India. Sold Directly by Owners an'

In [6]:
soup = BeautifulSoup(html_code)

In [7]:
Name = soup.find('div', attrs={'class':'txtBox'})
Name.text

'\n          Honda Shine 125 Drum OBD2, 2024 ModelLocation: Pune, MaharashtraRs. 95,000\n\n Finance Available \n            \n\nView More Details\n'

In [8]:
Name = soup.find_all('div', attrs={'class':'boxRow'})
for h in Name:
    print(h.text.strip())

Honda Shine 125 Drum OBD2, 2024 ModelLocation: Pune, MaharashtraRs. 95,000

 Finance Available


View More Details
Aprilia Storm 125, 2021 ModelLocation: Dadar, Mumbai, MaharashtraRs. 60,000

 Finance Available


View More Details
Honda Shine 125 Drum, 2023 ModelLocation: Bokaro, JharkhandRs. 81,000

 Finance Available


View More Details
Yezdi Roadster Dark, 2023 ModelLocation: Hyderabad, TelanganaRs. 1,65,000

 Finance Available


View More Details
Aprilia SR 150, 2018 ModelLocation: East Delhi, DelhiRs. 61,000

 Finance Available


View More Details
Suzuki Lets 110, 2014 ModelLocation: Gajuwaka, Visakhapatnam, Andhra PradeshRs. 17,000

 Finance Available


View More Details
Yamaha R15 V4, 2023 ModelLocation: Machilipatnam, Krishna, Andhra PradeshRs. 1,85,000

 Finance Available


View More Details
Bicycle Decathlon, 2020 ModelLocation: Bangalore, KarnatakaRs. 4,000
View More Details
Bajaj Avenger Cruise 220 BS6, 2017 ModelLocation: Bhandup, Mumbai, MaharashtraRs. 65,000

 Finance Available


View More Details
TVS Wego, 2017 ModelLocation: Pimpri-Chinchwad, Pune, MaharashtraRs. 38,000

 Finance Available


View More Details
Bajaj Freedom 125 NG04 Disc LED, 2025 ModelLocation: Gwalior, Madhya PradeshRs. 1,10,000

 Finance Available


View More Details
TVS Apache RTR 180, 2010 ModelLocation: Ameerpet, Hyderabad, TelanganaRs. 25,000

 Finance Available


View More Details
KTM RC 200 GP, 2023 ModelLocation: New Delhi, DelhiRs. 1,55,000

 Finance Available


View More Details
Bajaj Dominar 400 2025, 2025 ModelLocation: Mumbai, MaharashtraRs. 2,00,000

 Finance Available


View More Details
Ola S1X Plus, 2024 ModelLocation: Bellandur, Bangalore, KarnatakaRs. 60,000

 Finance Available


View More Details
Bajaj Pulsar NS 160, 2019 ModelLocation: Noida, Uttar PradeshRs. 60,000

 Finance Available


View More Details
Bicycle Hercules, 2015 ModelLocation: Pune, MaharashtraRs. 10,000
View More Details
BMW G 310 R, 2021 ModelLocation: Pune, MaharashtraRs. 2,25,000

 Finance Available


View More Details
Mach City Munich 21 Speed, 2019 ModelLocation: KR Puram, Bangalore, KarnatakaRs. 8,000

 Finance Available


View More Details
KTM Duke 390, 2022 ModelLocation: Rajajinagar, Bangalore, KarnatakaRs. 2,60,000

 Finance Available


View More Details
Honda CBR 250R, 2016 ModelLocation: Khordha, OrissaRs. 60,000

 Finance Available


View More Details
Bicycle Keysto, 2022 ModelLocation: Bangalore, KarnatakaRs. 16,000
View More Details
Bajaj Pulsar 150 DTSi, 2022 ModelLocation: Ottappalam, Palakkad, KeralaRs. 85,000

 Finance Available


View More Details
Jawa Jawa BS6, 2019 ModelLocation: Secunderabad, Hyderabad, TelanganaRs. 1,40,000

 Finance Available


View More Details
TVS Apache RTR 200 4V, 2016 ModelLocation: Bangalore, KarnatakaRs. 60,000

 Finance Available


View More Details
Royal Enfield Himalayan 452, 2024 ModelLocation: Gurgaon, HaryanaRs. 3,25,000

 Finance Available


View More Details
Yamaha FZ-S FI V3, 2021 ModelLocation: Surat, GujaratRs. 95,000

 Finance Available


View More Details
Royal Enfield Classic 350, 2017 ModelLocation: Rajouri Garden, West Delhi, DelhiRs. 90,000

 Finance Available


View More Details
Honda CB Hornet 160R, 2017 ModelLocation: Jogeshwari, Mumbai, MaharashtraRs. 47,000

 Finance Available


View More Details
TVS XL 100 Heavy Duty i-TOUCHstart, 2022 ModelLocation: Alandur, Chennai, Tamil NaduRs. 45,000

 Finance Available


View More Details
Royal Enfield Meteor 350, 2021 ModelLocation: Hyderabad, TelanganaRs. 1,95,000

 Finance Available


View More Details
Honda Rebel 500, 2025 ModelLocation: Bangalore, KarnatakaRs. 6,35,000

 Finance Available


View More Details
Royal Enfield Himalayan 450, 2024 ModelLocation: Tirupur, Tamil NaduRs. 2,95,000

 Finance Available


View More Details
Jawa 42 Dual Channel ABS Orion Red, 2020 ModelLocation: Guindy, Chennai, Tamil NaduRs. 1,10,000

 Finance Available


View More Details
Bajaj Dominar 400 ABS BS6, 2017 ModelLocation: Rohini, North West Delhi, DelhiRs. 90,000

 Finance Available


View More Details
Honda Hness Anniversary Edition, 2022 ModelLocation: Bangalore, KarnatakaRs. 1,90,000

 Finance Available


View More Details
Ampere Reo, 2020 ModelLocation: Guindy, Chennai, Tamil NaduRs. 30,000

 Finance Available


View More Details
Royal Enfield Meteor 350 Stellar 2025, 2023 ModelLocation: Nagpur, MaharashtraRs. 2,14,000

 Finance Available


View More Details
Bajaj Pulsar 220 DTSFiLocation: MaharashtraRs. 75,000

 Finance Available


View More Details
Yamaha FZ 25 BS6Location: Salem, Tamil NaduRs. 1,20,000

 Finance Available


View More Details
TVS Apache RTR 160 4V Special Edition, 2023 ModelLocation: Dombivli, Thane, MaharashtraRs. 1,00,000

 Finance Available


View More Details
Honda Activa 125, 2017 ModelLocation: Noida, Uttar PradeshRs. 35,000

 Finance Available


View More Details
Bajaj Pulsar 220F BS6, 2023 ModelLocation: Secunderabad, Hyderabad, TelanganaRs. 1,45,000

 Finance Available


View More Details
Bajaj Chetak Electric, 2025 ModelLocation: Pune, MaharashtraRs. 95,000

 Finance Available


View More Details
Honda Activa 5G, 2019 ModelLocation: Bangalore, KarnatakaRs. 55,000

 Finance Available


View More Details
Yamaha FZ16, 2014 ModelLocation: Jaipur, RajasthanRs. 30,000

 Finance Available


View More Details
Ather 450, 2020 ModelLocation: Chennai, Tamil NaduRs. 55,000

 Finance Available


View More Details
Bajaj Dominar 400 ABS BS6, 2017 ModelLocation: Pune, MaharashtraRs. 1,00,000

 Finance Available


View More Details
Royal Enfield Thunderbird 350, 2014 ModelLocation: Bhubaneshwar, OrissaRs. 80,000

 Finance Available


View More Details
Jawa 42 Dual Channel ABS AllStar Black, 2021 ModelLocation: Thane, MaharashtraRs. 1,50,000

 Finance Available


View More Details
Hero Xtreme 125R, 2025 ModelLocation: Yelahanka, Bangalore, KarnatakaRs. 89,999

 Finance Available


View More Details
Zelio Legender Plus, 2025 ModelLocation: Bhavnagar, GujaratRs. 50,000

 Finance Available


View More Details
TVS Ronin SS, 2024 ModelLocation: Bhandup, Mumbai, MaharashtraRs. 1,20,000

 Finance Available


View More Details
Hero Splendor Plus Xtec, 2023 ModelLocation: Mumbai, MaharashtraRs. 65,000

 Finance Available


View More Details
TVS NTORQ 125, 2020 ModelLocation: Navi Mumbai, MaharashtraRs. 45,000

 Finance Available


View More Details
Honda Activa 5G, 2018 ModelLocation: Pune, MaharashtraRs. 52,000

 Finance Available


View More Details
Hero Maestro, 2013 ModelLocation: Hyderabad, TelanganaRs. 38,000

 Finance Available


View More Details
Suzuki Intruder 150 FI, 2022 ModelLocation: Bangalore, KarnatakaRs. 85,000

 Finance Available


View More Details
Bajaj Pulsar NS200, 2023 ModelLocation: Sholinganallur, Chennai, Tamil NaduRs. 1,10,000

 Finance Available


View More Details
Hero Xtreme 200S, 2019 ModelLocation: Ghaziabad, Uttar PradeshRs. 50,000

 Finance Available


View More Details
Yamaha FZ-S FI V3, 2019 ModelLocation: Dadar, Mumbai, MaharashtraRs. 85,000

 Finance Available


View More Details
KTM Duke 200 ABS, 2023 ModelLocation: Dadar, Mumbai, MaharashtraRs. 1,75,000

 Finance Available


View More Details
Bajaj Platina 100 ES, 2020 ModelLocation: Pimpri-Chinchwad, MaharashtraRs. 55,000

 Finance Available


View More Details
Hero Maestro Edge, 2018 ModelLocation: Mirzapur, Uttar PradeshRs. 30,000

 Finance Available


View More Details
TVS Apache RTR 200 4V 2020, 2020 ModelLocation: Hyderabad, TelanganaRs. 80,000

 Finance Available


View More Details
Bajaj Pulsar 220F, 2016 ModelLocation: New Delhi, DelhiRs. 55,000

 Finance Available


View More Details
Ola S1 Air 2kWh, 2023 ModelLocation: Bangalore, KarnatakaRs. 1,10,000

 Finance Available


View More Details
Hero Pleasure, 2017 ModelLocation: Patna, BiharRs. 30,000

 Finance Available


View More Details

In [9]:
len(Name)

68

In [10]:
rl = 'https://www.bikes4sale.in/used/buy/?page=1'

for i in range(1,41):
    print(f'https://www.bikes4sale.in/used/buy/?page={i}')

https://www.bikes4sale.in/used/buy/?page=1
https://www.bikes4sale.in/used/buy/?page=2
https://www.bikes4sale.in/used/buy/?page=3
https://www.bikes4sale.in/used/buy/?page=4
https://www.bikes4sale.in/used/buy/?page=5
https://www.bikes4sale.in/used/buy/?page=6
https://www.bikes4sale.in/used/buy/?page=7
https://www.bikes4sale.in/used/buy/?page=8
https://www.bikes4sale.in/used/buy/?page=9
https://www.bikes4sale.in/used/buy/?page=10
https://www.bikes4sale.in/used/buy/?page=11
https://www.bikes4sale.in/used/buy/?page=12
https://www.bikes4sale.in/used/buy/?page=13
https://www.bikes4sale.in/used/buy/?page=14
https://www.bikes4sale.in/used/buy/?page=15
https://www.bikes4sale.in/used/buy/?page=16
https://www.bikes4sale.in/used/buy/?page=17
https://www.bikes4sale.in/used/buy/?page=18
https://www.bikes4sale.in/used/buy/?page=19
https://www.bikes4sale.in/used/buy/?page=20
https://www.bikes4sale.in/used/buy/?page=21
https://www.bikes4sale.in/used/buy/?page=22
https://www.bikes4sale.in/used/buy/?page=23
https://www.bikes4sale.in/used/buy/?page=24
https://www.bikes4sale.in/used/buy/?page=25
https://www.bikes4sale.in/used/buy/?page=26
https://www.bikes4sale.in/used/buy/?page=27
https://www.bikes4sale.in/used/buy/?page=28
https://www.bikes4sale.in/used/buy/?page=29
https://www.bikes4sale.in/used/buy/?page=30
https://www.bikes4sale.in/used/buy/?page=31
https://www.bikes4sale.in/used/buy/?page=32
https://www.bikes4sale.in/used/buy/?page=33
https://www.bikes4sale.in/used/buy/?page=34
https://www.bikes4sale.in/used/buy/?page=35
https://www.bikes4sale.in/used/buy/?page=36
https://www.bikes4sale.in/used/buy/?page=37
https://www.bikes4sale.in/used/buy/?page=38
https://www.bikes4sale.in/used/buy/?page=39
https://www.bikes4sale.in/used/buy/?page=40

In [11]:
Title = []

for i in range(1,41):
    url = f'https://www.bikes4sale.in/used/buy/?page={i}'

    response = requests.get(url)
    html_code = response.text

    soup = BeautifulSoup(html_code, "html.parser")

    Name = soup.find_all('div', attrs={'class':'boxRow'})
    for h in Name:
        Title.append(h.text.strip())

In [12]:
len(Title)

1628

In [13]:
# creating the DataFrame
df = pd.DataFrame({"Bike Name":Title})
df

                                              Bike Name
0     Honda Shine 125 Drum OBD2, 2024 ModelLocation:...
1     Aprilia Storm 125, 2021 ModelLocation: Dadar, ...
2     Honda Shine 125 Drum, 2023 ModelLocation: Boka...
3     Yezdi Roadster Dark, 2023 ModelLocation: Hyder...
4     Aprilia SR 150, 2018 ModelLocation: East Delhi...
...                                                 ...
1623  Jawa 42 Bobber Red Sheen, 2023 ModelLocation: ...
1624  Honda Hness Anniversary Edition, 2022 ModelLoc...
1625  Suzuki Avenis 125 Ride Connect Edition, 2022 M...
1626  Suzuki Gixxer SF, 2016 ModelLocation: Bhiwandi...
1627  TVS Apache RTR 160 4V, 2018 ModelLocation: Kol...

[1628 rows x 1 columns]

In [14]:
# Storage lists
bikes = []
years = []
locations = []
prices = []
finance = []

# Load your Excel file
raw_data = df

# Assuming the scraped text is inside the first column
text_data = raw_data.iloc[:, 0].astype(str).tolist()


for entry in text_data:
    # Extract Bike Name + Year
    bike_match = re.match(r"(.+),\s*(\d{4}) Model", entry)
    if bike_match:
        bikes.append(bike_match.group(1).strip())
        years.append(bike_match.group(2))
    else:
        bikes.append(None)
        years.append(None)

    # Extract Location
    loc_match = re.search(r"Location:\s*(.+?)Rs\.", entry)
    if loc_match:
        locations.append(loc_match.group(1).strip())
    else:
        locations.append(None)

    # Extract Price
    price_match = re.search(r"Rs\.\s*([\d,]+)", entry)
    if price_match:
        prices.append(price_match.group(1).replace(",", ""))
    else:
        prices.append(None)

    # Check Finance Available
    if "Finance Available" in entry:
        finance.append("Yes")
    else:
        finance.append("No")

# Build DataFrame
df = pd.DataFrame({
    "Bike Model": bikes,
    "Model Year": years,
    "Location": locations,
    "Price (Rs)": prices,
    "Finance_Available(Yes/No)": finance
})

df.head()

,Bike Model,Model Year,Location,Price (Rs),Finance_Available(Yes/No)
0,Honda Shine 125 Drum OBD2,2024,"Pune, Maharashtra",95000,Yes
1,Aprilia Storm 125,2021,"Dadar, Mumbai, Maharashtra",60000,Yes
2,Honda Shine 125 Drum,2023,"Bokaro, Jharkhand",81000,Yes
3,Yezdi Roadster Dark,2023,"Hyderabad, Telangana",165000,Yes
4,Aprilia SR 150,2018,"East Delhi, Delhi",61000,Yes

In [15]:
df.to_csv("Bike.csv",index = False)